


body
    
        {
            background-color: white; 
            margin: 0;        
        }

    



#bloc_page
{
    
    
}





.reservia
{
    width: 103px;
    height: 34px;
    margin-top: 30px;
     
}



.titre0
{
    display: flex;
    justify-content: space-between;

}

.sincrire

{
    color: blue;
    font-size: 72px 18px;
    margin-right: 18px;
    margin-top: 40px;
    
    
}



.titre2
{
    font-weight: bold;
    

}

.navigation
{
    display: flex;
    font-size: 30px;
    margin-top: 45px;
    
    

}

.populaire
{
    width: 50%;
    text-align: center;
    border-bottom: solid 2px grey;
    padding-bottom: 25px;
   

}

.hebergements

{
    border-bottom: solid 2px #0065FC;
    color: #0065FC;
}

.text
{
    font-size: 291px 47px;
    text-align: justify;
    font-weight: bold;
}

.text1
{
    font-size: 287px 11px;
    text-align: justify;
    color: grey;

}

.recherche
{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border: solid 1px #F2F2F2;
    height: 51px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;

    
    

    
    
    
}


.recherche0

{
    border: solid 1px #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 51px;
    background-color: #F2F2F2;
    width: 51px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;

    
    
    
}

.recherche1

{
    
    border: solid 1px #F2F2F2;
    height: 51px;
    width: 150px;    
    border: none;
    display: flex;
    text-align: center;
    justify-content: center;


  
    
       
}

.recherche2

{
    background-color:#0065FC;
    border: solid 1px #F2F2F2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 51px;
    width: 51px;
    margin-left: 95px;
    display: flex;
    justify-content: center;
    align-items: center;


}


.filtre
{
    
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
       
}

.rond1
{
    font-weight: bold;
    border: solid 10px #F2F2F2;
    border-radius: 25px;
    border-radius: 50px;
    border-width: thin;
    background-color: transparent;
    position: relative;
    height: 51px;
    
    
}

.rond2

{
    
    border-radius: 50px;
    background-color:#0065FC;
    position: absolute;
    left: 0;
    top: 0;
    height: 51px;
    width: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
    
    
    
}

.text_filtre
{   
    margin-left: 50px;
}


.section1 

{
    font-weight: bold;
    border: solid 1px black;
    border-radius: none;
    border-width: thin;
    width: 100%;
    padding: auto;
    background-color: #F2F2F2;
    border-color: white;   
}






.container
{
    color:#0065FC;
}
.carte_populaires 

{
    border: solid 2px rgb(255, 255, 255);
    border-radius: 5%;
    background-color: white;
    width: 90%;
    height: 146px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    
}



.image_populaires 
{
    width: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    width: 129px;
    height: 134px;
    
}

.caption
{
    
    

    
    
    
}

.carte_hebergements
{
    border: solid 2px rgb(255, 255, 255);
    border-radius: 5%;
    background-color: white;
}

.image_hebergements 
{
    width: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    height: 114px;
    width: 325px;
}


.carte_activite 
{
    border: solid 2px rgb(255, 255, 255);
    border-radius: 5%;
    background-color: white;
}

.image_activite
{
    width: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    height: 136px;
}




.paragraphe1

{
    text-align: start;
}





.section2 
{
    font-weight: bold;
    border: solid 1px black;
    border-radius: none;
    border-width: thin;
    width: 100%;
    text-align: center;
    padding: auto;
    background-color: #F2F2F2;
    border-color: white;
       
}

.section3

{
    font-weight: bold;
    border: solid 1px black;
    border-radius: none;
    border-width: thin;
    width: 100%;
    text-align: center;
    padding: auto;
    background-color: #F2F2F2;
    border-color: white;
       
}

.bas

{
    font-weight: bold;
    border: solid 1px black;
    border-radius: none;
    border-width: thin;
    width: 100%;
    text-align: start;
    padding: auto;
    background-color: #F2F2F2;
    border-color: white;
       
}


.fin

{
    color: grey;
}