


body
    
        {
            background-color: white;         
        }

    



#bloc_page
{
    width: 900px;
    margin: auto;
}

.titre
{
    color: blue;
}

.titre2
{
    font-weight: bold;
}

.hebergements

{
    border-bottom: solid 2px blue;
    width: 100px;
    color: blue;
}


.recherche0

{
    font-weight: bold;
    border: solid 1px black;
    border-radius: 50px;
    border-width: thin;
    width: 30%;
    text-align: center;
    padding: auto;     
}

.recherche1

{
    font-weight: bold;
    border: solid 1px black;
    border-radius: 50px;
    border-width: thin;
    width: 30%;
    text-align: center;
    padding: auto;
       
}

.recherche2

{
    font-weight: bold;
    border: solid 1px black;
    border-radius: 50px;
    border-width: thin;
    width: 30%;
    text-align: center;
    padding: auto;     
}

.rond1
{
    font-weight: bold;
    border: solid 1px black;
    border-radius: 50px;
    border-width: thin;
    width: 30%;
    text-align: center;
    padding: auto;
       
}


{
    font-weight: bold;
    border: solid 1px black;
    border-radius: 50px;
    border-width: thin;
    width: 30%;
    text-align: center;
    padding: auto;
       
}





.section1 

{
    font-weight: bold;
    border: solid 1px black;
    border-radius: none;
    border-width: thin;
    width: 80%;
    text-align: center;
    padding: auto;
    background-color: #F2F2F2;
    border-color: white;
       
}



.carte_populaires

{
    border: solid 2px rgb(12, 12, 12);
}

.section2 

{
    font-weight: bold;
    border: solid 1px black;
    border-radius: none;
    border-width: thin;
    width: 80%;
    text-align: center;
    padding: auto;
    background-color: #F2F2F2;
    border-color: white;
       
}

.section3

{
    font-weight: bold;
    border: solid 1px black;
    border-radius: none;
    border-width: thin;
    width: 80%;
    text-align: center;
    padding: auto;
    background-color: #F2F2F2;
    border-color: white;
       
}

.bas

{
    font-weight: bold;
    border: solid 1px black;
    border-radius: none;
    border-width: thin;
    width: 80%;
    text-align: center;
    padding: auto;
    background-color: #F2F2F2;
    border-color: white;
       
}